#ta datoteka mora vsebovati kljuc "server IP"
#in kljuc "name"
#sample config file
#key: value
#key2: value2

#server IP: 192.168.1.101
#server IP: 84.41.37.130
server IP: 193.2.177.238
ws port: 4113
stream port: 4114
Name: Range rover
#ping interval v sekundah
Ping interval: 3.0
secret key: 133780085
