#sample config file
#key: value
#key2: value2

Name: Scorpion
server IP: 212.235.189.232
#server IP: 192.168.42.101
#server IP: 84.41.37.130
#server IP: 193.2.179.200

ws port: 4113
stream port: 4114

#ping interval v sekundah
Ping interval: 2.0
secret key: 133780085

#streaming preferences
maxRes: 200
minRes: 200
numSteps: 1
desiredFPS: 15
